<!-- 
<ngb-carousel>
    <template ngbSlide>
      <img src="../assets/Musee-national-du-Mali-culturelles-et-des-Relations.jpg" alt="First">
      <div class="carousel-caption">
        <h3>First</h3>
        <p>First description</p>
      </div>
    </template>
    <template ngbSlide>
      <img src="../assets/Musee-national-du-Mali-culturelles-et-des-Relations.jpg" alt="Second">
      <div class="carousel-caption">
        <h3>Second</h3>
        <p>Second description</p>
      </div>
    </template>
  </ngb-carousel>

<hr />

<div class="btn-group" role="group" aria-label="Carousel toggle controls">
	<button type="button" (click)="showNavigationArrows = !showNavigationArrows" class="btn btn-outline-dark btn-sm">
		Toggle navigation arrows
	</button>
	<button
		type="button"
		(click)="showNavigationIndicators = !showNavigationIndicators"
		class="btn btn-outline-dark btn-sm"
	>
		Toggle navigation indicators
	</button>
</div> -->